@import "tailwindcss";
@plugin "daisyui";

/* // FONT  */


.ourFont {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.buttom-shadow {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}
